﻿<div class="jumbotron">
    <h1>Kids Tutor AR</h1>
    <p class="lead">The game, that helps your kids to learn reading and calculating.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Get on App Store</a></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Get on Play Market</a></p>
</div>
